<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>About｜「frediet」Portfolio Website</title>
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="about">

  <!-- header始まり -->
  <header>
    <div class="logo">
      <a href="/"><img src="/images/frediet.png" alt="frediet"></a>
    </div>
    <nav>
      <ul class="global-nav">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- header終わり -->

  <!-- wrap始まり -->
  <div id="wrap">
    <div class="content">
      <div class="main-center">
        <h1>About</h1>
        <p>frediet(市原 雄介)のプロフィールや経歴の紹介ページです。</p>
        <section class="profile clearfix">
          <div class="profile-txt">
            <h2 class="icon">Profile</h2>
            <p><span>frediet： 市原 雄介</span><br>
              ラーメンをこよなく愛するエンジニア志望学生。家系にドはまり中。<br>
              中学生のときにプレーしたRPGゲームがきっかけで、漠然とプログラマーへの憧れを持った。<br>
              大学2年時から、ゲーム制作やアルゴリズム、Webアプリケーション開発について勉強を開始。まだまだ納得のいく技術力はないが、プログラムを考えている時間が大好き。<br>
              現在は、実験環境の制作＋サーバーサイドを勉強中。</p>
          </div>
          <img src="/images/me.png" alt="市原雄介プロフィール画像" class="profile-image">
        </section>
        <section class="career">
          <h2 class="icon">Career and history</h2>
          <table>
            <tr>
              <th>2017年4月</th>
              <td>静岡大学情報学部 入学　プログラミングを触り始める</td>
            </tr>
            <tr>
              <th>2019年7月</th>
              <td>大本研究室 配属　Unityを使い、人とエージェントのインタラクションの研究を行う</td>
            </tr>
            <tr>
              <th>2021年3月</th>
              <td>静岡大学情報学部 卒業予定</td>
            </tr>
          </table>
        </section>
        <section class="experience">
          <h2 class="icon">Experience</h2>
          <table>
            <tr>
              <th>2019年4月</th>
              <td><a href="https://lexsol.co.jp/">LexSol</a>　
                主に物流システムを開発するアルバイト(2020/6月現在 継続中)
              </td>
            </tr>
            <tr>
              <th>2019年8月</th>
              <td><a href="https://www.a-tm.co.jp/">Ateam</a>　
                チームでゲームAIを開発する1dayインターン
              </td>
            </tr>
            <tr>
              <th>2019年8月</th>
              <td><a href="https://www.thinklogic.co.jp/">シンクロジック</a>　
                Unityを使ってゲーム開発を行う1dayインターン
              </td>
            </tr>
            <tr>
              <th>2019年9月</th>
              <td><a href="https://www.cyberagent.co.jp/">サイバーエージェント</a>　
                チームでゲーム開発を行う3dayインターン
              </td>
            </tr>
            <tr>
              <th>2019年11月</th>
              <td><a href="https://www.sega.co.jp/">SEGA</a>　
                ゲームを持ち込み、エンジニアからフィードバックを受ける1dayインターン
              </td>
            </tr>
            <tr>
              <th>2019年12月</th>
              <td><a href="https://paiza.jp/">paiza</a>　
                C++を使用し、Sランクを取得
              </td>
            </tr>
            <tr>
              <th>2020年2月</th>
              <td><a href="https://www.thinklogic.co.jp/">シンクロジック</a>　
                3Dアクションゲームを開発する2dayインターン
              </td>
            </tr>
          </table>
        </section>

      </div>
    </div>
  </div>
  <!-- wrap終わり -->

  <!-- footer始まり -->
  <footer>
    <small>(C)2020 frediet all rights reserved.</small>
  </footer>
  <!-- footer終わり -->

</body>

</html>