<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contact｜「frediet」Portfolio Website</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="contact">

    <!-- header始まり -->
    <header>
        <div class="logo">
            <a href="/"><img src="/images/frediet.png" alt="frediet"></a>
        </div>
        <nav>
            <ul class="global-nav">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- header終わり -->

    <!-- wrap始まり -->
    <div id="wrap">
        <div class="content">
            <div class="main-center">
                <h1>Contact</h1>
                <p>fredietへのお問い合わせフォームのページです。お気軽にお問い合わせください。</p>
                <section class="access clearfix">
                    <h2 class="icon">Access</h2>
                    <table>
                        <tr>
                            <th>所在地</th>
                            <td>静岡大学情報学部 大本研究室</td>
                        </tr>
                        <tr>
                            <th>電車でのアクセス</th>
                            <td>JR浜松駅より約20分</td>
                        </tr>
                    </table>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13116.845248102143!2d137.7178838!3d34.7250676!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba62751550fd1b25!2z6Z2Z5bKh5aSn5a2mIOa1nOadvuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2sjp!4v1592057273895!5m2!1sja!2sjp"
                        width="460" height="220" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </section>
                <section>
                    <h2 class="icon">Contact form</h2>
                    <div class="form">
                        <form method="POST">
                            <dl>
                                <dt><span class="required">お名前</span></dt>
                                <dd><input type="text" name="name" class="name" required></dd>
                                <dt><span class="required">メールアドレス</span></dt>
                                <dd><input type="email" name="email" class="email" required></dd>
                                <dt>お電話番号</dt>
                                <dd><input type="tel" name="tel" class="tel"></dd>
                                <dt>お問合せ種別</dt>
                                <dd>
                                    <select name="type" class="type">
                                        <option value="お問い合わせ">お問い合わせ</option>
                                        <option value="開発のご依頼">開発のご依頼</option>
                                    </select>
                                </dd>
                                <dt>メッセージ</dt>
                                <dd><textarea name="message" class="message"></textarea></dd>
                            </dl>
                            <input type="submit" class="button" value="送信">
                        </form>
                        <div class="attention">
                            <% if (typeof msg !== 'undefined') { %>
                                <p class="msg"><%= msg %></p>
                            <% } %>
                            <p>※「<span class="required"></span>」の付いている項目は必須項目です。<br>
                                ※メッセージ送信後、48時間以内にご連絡いたします。
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- wrap終わり -->

    <!-- footer始まり -->
    <footer>
        <small>(C)2020 frediet all rights reserved.</small>
    </footer>
    <!-- footer終わり -->

</body>

</html>