<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>「frediet」Portfolio Website</title>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="index">

  <!-- header始まり -->
  <header>
    <div class="logo">
      <a href="/"><img src="/images/logo.png" alt="frediet"></a>
    </div>
    <nav>
      <ul class="global-nav">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- header終わり -->

  <!-- wrap始まり -->
  <div id="wrap">
    <div class="content">
      <h1>
        I'm frediet, <br>
        a student who want to <br> 
        become engineers.
      </h1>
      <p>このWebサイトは、エンジニアを目指すしがない大学生のポートフォリオサイトです。<br>
        これまでに制作した作品から、経歴や趣味に至るまで様々な情報を掲載しています。どうぞご覧ください。
      </p>
      <p class="btn"><a href="/portfolio">My Portfolio</a></p>
    </div>
  </div>
  <!-- wrap終わり -->

  <!-- footer始まり -->
  <footer>
    <small>(C)2020 frediet all rights reserved.</small>
  </footer>
  <!-- footer終わり -->

</body>

</html>