<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src = "" alt = "title">
    <p>Welcome to home</p>
  </body>
</html>
