<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Photo｜「frediet」Portfolio Website</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="photo">

    <!-- header始まり -->
    <header>
        <div class="logo">
            <a href="/"><img src="/images/frediet.png" alt="frediet"></a>
        </div>
        <nav>
            <ul class="global-nav">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- header終わり -->

    <!-- wrap始まり -->
    <div id="wrap" class="clearfix">
        <div class="content">
            <div class="main">
                <h1>Photo</h1>
                <p>これまでに撮影した写真作品を撮影シーン別に掲載しています。</p>
                <section id="Ramen">
                    <h2 class="icon">Ramen</h2>
                    <ul class="clearfix photo-list">
                        <li><img src="/images/Ramen/GoKaKu.png" alt="GoKaKu"></li>
                        <li><img src="/images/Ramen/カモメ亭.png" alt="カモメ亭"></li>
                        <li><img src="/images/Ramen/ケンちゃんラーメン_遊佐店.png" alt="ケンちゃんラーメン_遊佐店"></li>
                        <li><img src="/images/Ramen/しるし.png" alt="しるし"></li>
                        <li><img src="/images/Ramen/すみれ.png" alt="すみれ"></li>
                        <li><img src="/images/Ramen/はなび.png" alt="はなび"></li>
                        <li><img src="/images/Ramen/ほくと亭.png" alt="ほくと亭"></li>
                        <li><img src="/images/Ramen/まぜそば_いっとく.png" alt="まぜそば_いっとく"></li>
                        <li><img src="/images/Ramen/まんぷく家.png" alt="まんぷく家"></li>
                        <li><img src="/images/Ramen/めん虎.png" alt="めん虎"></li>
                        <li><img src="/images/Ramen/ラーメン山まさか.png" alt="ラーメン山まさか"></li>
                        <li><img src="/images/Ramen/雨風本舗.png" alt="雨風本舗"></li>
                        <li><img src="/images/Ramen/歌志軒.png" alt="歌志軒"></li>
                        <li><img src="/images/Ramen/花鳥風月.png" alt="花鳥風月"></li>
                        <li><img src="/images/Ramen/華煌.png" alt="華煌"></li>
                        <li><img src="/images/Ramen/丸源.png" alt="丸源"></li>
                        <li><img src="/images/Ramen/吉村家.png" alt="吉村家"></li>
                        <li><img src="/images/Ramen/琴平荘.png" alt="琴平荘"></li>
                        <li><img src="/images/Ramen/月輪.png" alt="月輪"></li>
                        <li><img src="/images/Ramen/五丁目ハウス.png" alt="五丁目ハウス"></li>
                        <li><img src="/images/Ramen/好麺.png" alt="好麺"></li>
                        <li><img src="/images/Ramen/魂心家.png" alt="魂心家"></li>
                        <li><img src="/images/Ramen/三太.png" alt="三太"></li>
                        <li><img src="/images/Ramen/四十番.png" alt="四十番"></li>
                        <li><img src="/images/Ramen/松壱家.png" alt="松壱家"></li>
                        <li><img src="/images/Ramen/照月.png" alt="照月"></li>
                        <li><img src="/images/Ramen/食道園.png" alt="食道園"></li>
                        <li><img src="/images/Ramen/新三.png" alt="新三"></li>
                        <li><img src="/images/Ramen/水車生そば.png" alt="水車生そば"></li>
                        <li><img src="/images/Ramen/晴天の風.png" alt="晴天の風"></li>
                        <li><img src="/images/Ramen/青空キッド零壱.png" alt="青空キッド零壱"></li>
                        <li><img src="/images/Ramen/蔵前家.png" alt="蔵前家"></li>
                        <li><img src="/images/Ramen/池めん.png" alt="池めん"></li>
                        <li><img src="/images/Ramen/中華そば_JAC.png" alt="中華そば_JAC"></li>
                        <li><img src="/images/Ramen/町田商店.png" alt="町田商店"></li>
                        <li><img src="/images/Ramen/天下一品.png" alt="天下一品"></li>
                        <li><img src="/images/Ramen/尾浦.png" alt="尾浦"></li>
                        <li><img src="/images/Ramen/麺屋_モクエン.png" alt="麺屋_モクエン"></li>
                        <li><img src="/images/Ramen/麺屋_真.png" alt="麺屋_真"></li>
                        <li><img src="/images/Ramen/麺屋武蔵.png" alt="麺屋武蔵"></li>
                        <li><img src="/images/Ramen/麺家_獅子丸.png" alt="麺家_獅子丸"></li>
                        <li><img src="/images/Ramen/麺匠家.png" alt="麺匠家"></li>
                        <li><img src="/images/Ramen/麺絆英.png" alt="麺絆英"></li>
                        <li><img src="/images/Ramen/野方ホープ.png" alt="野方ホープ"></li>
                        <li><img src="/images/Ramen/来来亭.png" alt="来来亭"></li>
                    </ul>
                </section>
                <section id="Landscape">
                    <h2 class="icon">Landscape</h2>
                    <ul class="clearfix photo-list">
                        <li><a href="https://github.com/freedom1y/FileManager">
                            <img src="/images/FileManager.png" alt="FileManager"></a>
                        </li>
                        <li><a href="https://github.com/freedom1y/portfolio">
                            <img src="/images/portfolio.png" alt="portfolio"></a>
                        </li>
                    </ul>
                </section>
            </div>
            <aside class="sidebar">
                <section>
                    <h2>Works</h2>
                    <ul>
                        <li><a href="/works#city">Game</a></li>
                        <li><a href="/works#beach">WebApp</a></li>
                        <li><a href="/works#forest">Kyoupro</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Photo</h2>
                    <ul>
                        <li><a href="/photo#Ramen">Ramen</a></li>
                        <li><a href="/photo#Landscape">Landscape</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>
    <!-- wrap終わり -->

    <!-- footer始まり -->
    <footer>
        <small>(C)2020 frediet all rights reserved.</small>
    </footer>
    <!-- footer終わり -->

</body>

</html>