<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ramen｜「frediet」Portfolio Website</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="ramen">

    <!-- header始まり -->
    <header>
        <div class="logo">
            <a href="/"><img src="/images/frediet.png" alt="frediet"></a>
        </div>
        <nav>
            <ul class="global-nav">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- header終わり -->

    <!-- wrap始まり -->
    <div id="wrap" class="clearfix">
        <div class="content">
            <div class="main">
                <h1>Ramen</h1>
                <p>これまで食べたラーメンをジャンル毎にランキング順で掲載しています。</p>
                <section id="Iekei">
                    <h2 class="icon">家系</h2>
                    <ul class="clearfix ramen-list">
                        <li><a href="https://tabelog.com/kanagawa/A1401/A140101/14000059/"><img src="/images/Ramen/吉村家.png" alt="吉村家"></a></li>
                        <li><a href="https://tabelog.com/tokyo/A1319/A131902/13219393/"><img src="/images/Ramen/五丁目ハウス.png" alt="五丁目ハウス"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22016576/"><img src="/images/Ramen/蔵前家.png" alt="蔵前家"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22027851/"><img src="/images/Ramen/麺匠家.png" alt="麺匠家"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22029545/"><img src="/images/Ramen/魂心家.png" alt="魂心家"></a></li>
                        <li><a href="https://tabelog.com/aichi/A2305/A230502/23033512/"><img src="/images/Ramen/まんぷく家.png" alt="まんぷく家"></a></li>
                        <li><a href="https://tabelog.com/kanagawa/A1401/A140101/14049317/"><img src="/images/Ramen/町田商店.png" alt="町田商店"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22036662/"><img src="/images/Ramen/松壱家.png" alt="松壱家"></a></li>
                    </ul>
                </section>
                <section id="Tsukemen">
                    <h2 class="icon">つけ麺</h2>
                    <ul class="clearfix ramen-list">
                        <li><a href="https://tabelog.com/osaka/A2701/A270107/27066942/"><img src="/images/Ramen/ほそ道.png" alt="ほそ道"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22003985/"><img src="/images/Ramen/青空キッド零壱.png" alt="青空キッド零壱"></a></li>
                        <li><a href="https://tabelog.com/kanagawa/A1407/A140701/14004500/"><img src="/images/Ramen/夜鳴き軒.png" alt="夜鳴き軒"></a></li>
                        <li><a href="https://tabelog.com/tokyo/A1304/A130401/13001013/"><img src="/images/Ramen/麺屋武蔵.png" alt="麺屋武蔵"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22022741/"><img src="/images/Ramen/フジヤマ55.png" alt="フジヤマ55"></a></li>
                    </ul>
                </section>
                <section id="Mazesoba">
                    <h2 class="icon">まぜそば</h2>
                    <ul class="clearfix ramen-list">
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22031327/"><img src="/images/Ramen/池めん.png" alt="池めん"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22027723/"><img src="/images/Ramen/まぜそば_いっとく.png" alt="まぜそば_いっとく"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22029077/"><img src="/images/Ramen/歌志軒.png" alt="歌志軒"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22033226/"><img src="/images/Ramen/ラボラトリー.png" alt="ラボラトリー"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22033838/"><img src="/images/Ramen/はなび.png" alt="はなび"></a></li>
                        <li><a href="https://tabelog.com/tokyo/A1303/A130301/13235618/"><img src="/images/Ramen/俺流新世界.png" alt="俺流新世界"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22035283/"><img src="/images/Ramen/GoKaKu.png" alt="GoKaKu"></a></li>
                    </ul>
                </section>
                <section id="Mayu">
                    <h2 class="icon">マー油</h2>
                    <ul class="clearfix ramen-list">
                        <li><a href="https://tabelog.com/yamagata/A0603/A060301/6005497/"><img src="/images/Ramen/新三.png" alt="新三"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22016796/"><img src="/images/Ramen/貴長.png" alt="貴長"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22005978/"><img src="/images/Ramen/はやたろう.png" alt="はやたろう"></a></li>
                    </ul>
                </section>
                <section id="Shoyu">
                    <h2 class="icon">しょうゆ</h2>
                    <ul class="clearfix ramen-list">
                        <li><a href="https://tabelog.com/yamagata/A0603/A060302/6000573/"><img src="/images/Ramen/琴平荘.png" alt="琴平荘"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060301/6000582/"><img src="/images/Ramen/花鳥風月.png" alt="花鳥風月"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0601/A060101/6001055/"><img src="/images/Ramen/らー麺山之助.png" alt="らー麺山之助"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22027717/"><img src="/images/Ramen/7福神_壱.png" alt="7福神_壱"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22026607/"><img src="/images/Ramen/一凛.png" alt="一凛"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060301/6000156/"><img src="/images/Ramen/ケンちゃんラーメン.png" alt="ケンちゃんラーメン"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0605/A060501/6000063/"><img src="/images/Ramen/水車生そば.png" alt="水車生そば"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060302/6004694/"><img src="/images/Ramen/晴天の風.png" alt="晴天の風"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22001004/"><img src="/images/Ramen/三太.png" alt="三太"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060301/6009439/"><img src="/images/Ramen/華煌.png" alt="華煌"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060301/6010143/"><img src="/images/Ramen/照月.png" alt="照月"></a></li>
                        <li><a href="https://tabelog.com/aichi/A2305/A230502/23066202/"><img src="/images/Ramen/キブサチ.png" alt="キブサチ"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22016456/"><img src="/images/Ramen/丸源.png" alt="丸源"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060301/6009427/"><img src="/images/Ramen/雲ノ糸.png" alt="雲ノ糸"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22036387/"><img src="/images/Ramen/ラーメン山まさか.png" alt="ラーメン山まさか"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060302/6010416/"><img src="/images/Ramen/麺屋_モクエン.png" alt="麺屋_モクエン"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060301/6003343/"><img src="/images/Ramen/四十番.png" alt="四十番"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060302/6007343/"><img src="/images/Ramen/麺絆英.png" alt="麺絆英"></a></li>
                        <li><a href="https://tabelog.com/yamagata/A0603/A060301/6008977/"><img src="/images/Ramen/月輪.png" alt="月輪"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2205/A220502/22015133/"><img src="/images/Ramen/雨風本舗.png" alt="雨風本舗"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22030888/"><img src="/images/Ramen/しるし.png" alt="しるし"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22019923/"><img src="/images/Ramen/一刻魁堂.png" alt="一刻魁堂"></a></li>
                        <li><a href="https://tabelog.com/shizuoka/A2202/A220201/22016251/"><img src="/images/Ramen/来来亭.png" alt="来来亭"></a></li>
                    </ul>
                </section>
                <section id="Miso">
                    <h2 class="icon">みそ</h2>
                    <ul class="clearfix ramen-list">
                        <li><img src="/images/Ramen/尾浦.png" alt="尾浦"></li>
                        <li><img src="/images/Ramen/田所商店.png" alt="田所商店"></li>
                        <li><img src="/images/Ramen/すみれ.png" alt="すみれ"></li>
                        <li><img src="/images/Ramen/ほくと亭.png" alt="ほくと亭"></li>
                        <li><img src="/images/Ramen/麺屋_真.png" alt="麺屋_真"></li>
                    </ul>
                </section>
                <section id="Shio">
                    <h2 class="icon">しお</h2>
                    <ul class="clearfix ramen-list">
                        <li><img src="/images/Ramen/麺屋_龍壽.png" alt="麺屋_龍壽"></li>
                        <li><img src="/images/Ramen/なご家.png" alt="なご家"></li>
                        <li><img src="/images/Ramen/カモメ亭.png" alt="カモメ亭"></li>
                        <li><img src="/images/Ramen/好麺.png" alt="好麺"></li>
                        <li><img src="/images/Ramen/しゃもじ.png" alt="しゃもじ"></li>             
                    </ul>
                </section>
                <section id="Tonkotsu">
                    <h2 class="icon">とんこつ</h2>
                    <ul class="clearfix ramen-list">
                        <li><img src="/images/Ramen/中華そば_JAC.png" alt="中華そば_JAC"></li>
                        <li><img src="/images/Ramen/麺家_獅子丸.png" alt="麺家_獅子丸"></li>
                        <li><img src="/images/Ramen/豚鬼.png" alt="豚鬼"></li>
                        <li><img src="/images/Ramen/七星.png" alt="七星"></li>
                        <li><img src="/images/Ramen/ちー坊.png" alt="ちー坊"></li>
                        <li><img src="/images/Ramen/めん虎.png" alt="めん虎"></li>
                        <li><img src="/images/Ramen/一蘭.png" alt="一蘭"></li>
                        <li><img src="/images/Ramen/野方ホープ.png" alt="野方ホープ"></li>
                        <li><img src="/images/Ramen/節骨麺たいぞう.png" alt="節骨麺たいぞう"></li>
                        <li><img src="/images/Ramen/山岡家.png" alt="山岡家"></li>
                        <li><img src="/images/Ramen/天下一品.png" alt="天下一品"></li>
                    </ul>
                </section>
            </div>
            <aside class="sidebar">
                <section>
                    <h2>Works</h2>
                    <ul>
                        <li><a href="/works#city">Game</a></li>
                        <li><a href="/works#beach">WebApp</a></li>
                        <li><a href="/works#forest">Kyoupro</a></li>
                    </ul>
                </section>
                <section class="genre">
                    <h2>Ramen</h2>
                    <ul>
                        <li><a href="/Ramen#Iekei">家系</a></li>
                        <li><a href="/Ramen#Tsukemen">つけ麺</a></li>
                        <li><a href="/Ramen#Mazesoba">まぜそば</a></li>
                        <li><a href="/Ramen#Mayu">マー油</a></li>
                        <li><a href="/Ramen#Shoyu">しょうゆ</a></li>
                        <li><a href="/Ramen#Miso">みそ</a></li>
                        <li><a href="/Ramen#Shio">しお</a></li>
                        <li><a href="/Ramen#Tonkotsu">とんこつ</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>
    <!-- wrap終わり -->

    <!-- footer始まり -->
    <footer>
        <small>(C)2020 frediet all rights reserved.</small>
    </footer>
    <!-- footer終わり -->

</body>

</html>