<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Works｜「frediet」Portfolio Website</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="photograph">

    <!-- header始まり -->
    <header>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="frediet"></a>
        </div>
        <nav>
            <ul class="global-nav">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- header終わり -->

    <!-- wrap始まり -->
    <div id="wrap" class="clearfix">
        <div class="content">
            <div class="main">
                <h1>Works</h1>
                <p>これまでに制作した作品をジャンル別に掲載しています。</p>
                <section id="city">
                    <h2 class="icon">Game</h2>
                    <ul class="clearfix photograph-list">
                        <li><a href="https://github.com/freedom1y/FPS">
                            <img src="/images/FPS.png" alt="FPS"></a>
                        </li>
                        <li><a href="https://github.com/freedom1y/multi-directional-shooting">
                            <img src="/images/multi-directional-shooting.png" alt="2D Shooting Game"></a>
                        </li>
                        <li><a href="https://github.com/freedom1y/Fodla">
                            <img src="/images/Fodla.png" alt="3D Shooting Game"></a>
                        </li>
                    </ul>
                </section>
                <section id="beach">
                    <h2 class="icon">WebApp</h2>
                    <ul class="clearfix photograph-list">
                        <li><img src="/images/photograph-beach-01.png" alt="海水浴場"></li>
                        <li><img src="/images/photograph-beach-02.png" alt="ビーチへ続く道"></li>
                        <li><img src="/images/photograph-beach-03.png" alt="離れ小島"></li>
                        <li><img src="/images/photograph-beach-04.png" alt="岩場と波"></li>
                        <li><img src="/images/photograph-beach-05.png" alt="ヤシの木"></li>
                        <li><img src="/images/photograph-beach-06.png" alt="波打ち際"></li>
                    </ul>
                </section>
                <section id="forest">
                    <h2 class="icon">Kyoupro</h2>
                    <ul class="clearfix photograph-list">
                        <li><img src="/images/photograph-forest-01.png" alt="池と小舟"></li>
                        <li><img src="/images/photograph-forest-02.png" alt="可憐な花"></li>
                        <li><img src="/images/photograph-forest-03.png" alt="森の小径"></li>
                        <li><img src="/images/photograph-forest-04.png" alt="清流をカップで掬う"></li>
                        <li><img src="/images/photograph-forest-05.png" alt="焚き火台"></li>
                        <li><img src="/images/photograph-forest-06.png" alt="新芽と若葉"></li>
                    </ul>
                </section>
            </div>
            <aside class="sidebar">
                <section>
                    <h2>Works</h2>
                    <ul>
                        <li><a href="/works#city">Game</a></li>
                        <li><a href="/works#beach">WebApp</a></li>
                        <li><a href="/works#forest">Kyoupro</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Video</h2>
                    <ul>
                        <li><a href="/video#movie">Movie</a></li>
                        <li><a href="/video#short-film">Short film</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>
    <!-- wrap終わり -->

    <!-- footer始まり -->
    <footer>
        <small>(C)2020 frediet all rights reserved.</small>
    </footer>
    <!-- footer終わり -->

</body>

</html>