<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Works｜「frediet」Portfolio Website</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="photograph">

    <!-- header始まり -->
    <header>
        <div class="logo">
            <a href="/"><img src="/images/frediet.png" alt="frediet"></a>
        </div>
        <nav>
            <ul class="global-nav">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- header終わり -->

    <!-- wrap始まり -->
    <div id="wrap" class="clearfix">
        <div class="content">
            <div class="main">
                <h1>Works</h1>
                <p>これまでに制作した作品をジャンル別に掲載しています。</p>
                <section id="Game">
                    <h2 class="icon">Game</h2>
                    <ul class="clearfix photograph-list">
                        <li><a href="https://github.com/freedom1y/FPS">
                            <img src="/images/FPS.png" alt="FPS"></a>
                        </li>
                        <li><a href="https://github.com/freedom1y/multi-directional-shooting">
                            <img src="/images/multi-directional-shooting.png" alt="2D Shooting Game"></a>
                        </li>
                        <li><a href="https://github.com/freedom1y/Fodla">
                            <img src="/images/Fodla.png" alt="3D Shooting Game"></a>
                        </li>
                    </ul>
                </section>
                <section id="WebApp">
                    <h2 class="icon">WebApp</h2>
                    <ul class="clearfix photograph-list">
                        <li><a href="https://github.com/freedom1y/FileManager">
                            <img src="/images/FileManager.png" alt="FileManager"></a>
                        </li>
                    </ul>
                </section>
                <section id="Algorithm">
                    <h2 class="icon">Algorithm</h2>
                    <ul class="clearfix photograph-list">
                        <li><a href="https://github.com/freedom1y/KyouPro/tree/master/AtCoder">
                            <img src="/images/AtCoder.png" alt="AtCoder"></a>
                        </li>
                        <li><a href="https://github.com/freedom1y/KyouPro/tree/master/%E8%9F%BB%E6%9C%AC">
                            <img src="/images/蟻本.png" alt="蟻本"></a>
                        </li>
                        <li><a href="https://github.com/freedom1y/KyouPro/tree/master/Practice">
                            <img src="/images/TLAP.png" alt="Practice"></a>
                        </li>
                    </ul>
                </section>
            </div>
            <aside class="sidebar">
                <section>
                    <h2>Works</h2>
                    <ul>
                        <li><a href="/works#Game">Game</a></li>
                        <li><a href="/works#WebApp">WebApp</a></li>
                        <li><a href="/works#Algorithm">Algorithm</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Video</h2>
                    <ul>
                        <li><a href="/video#movie">Movie</a></li>
                        <li><a href="/video#short-film">Short film</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>
    <!-- wrap終わり -->

    <!-- footer始まり -->
    <footer>
        <small>(C)2020 frediet all rights reserved.</small>
    </footer>
    <!-- footer終わり -->

</body>

</html>